{% extends 'base.html' %}
{% block title %}Book Detail{% endblock %}

{% block content %}
<h2>Book Detail</h2>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">Author: {{ book.author }}</p>
        <p class="card-text">Available Physical Copies: {{ book.available_copies }}</p>

        <a href="{% url 'borrow:borrow_physical' book.id %}" class="btn btn-primary me-2">Borrow Physical</a>
        <a href="{% url 'borrow:borrow_digital' book.id %}" class="btn btn-success">Borrow Digital</a>
    </div>
</div>
{% endblock %}
